config-version = 2

persistent-workspaces = ['1', '2', '3', '4', '5', '6', '7', '8', '9']

start-at-login = true

after-login-command = []

after-startup-command = [
  'exec-and-forget borders',
  'exec-and-forget sketchybar',
  'exec-and-forget sketchybar_bottom'
]

exec-on-workspace-change = [
  '/bin/bash',
  '-c',
  'sketchybar_bottom --trigger aerospace_workspace_changed FOCUSED_WORKSPACE=$AEROSPACE_FOCUSED_WORKSPACE'
]

on-focused-monitor-changed = [
  'move-mouse monitor-lazy-center'
]

on-focus-changed = [
  'move-mouse window-lazy-center',
  'exec-and-forget sketchybar --trigger update_windows',
  'exec-and-forget sketchybar_bottom --trigger update_windows'
]

enable-normalization-flatten-containers = false
enable-normalization-opposite-orientation-for-nested-containers = false

accordion-padding = 30

default-root-container-layout = 'tiles'

default-root-container-orientation = 'auto'

key-mapping.preset = 'qwerty'

[gaps]
outer.bottom =     [{monitor.'^built-in retina display$' = 45 }, 48]
outer.top =        [{monitor.'^built-in retina display$' = 16 }, 48]
outer.left =       10
outer.right =      10
inner.horizontal = 10
inner.vertical =   10

[exec]                   # Again, you don't need to copy all config sections to your config.
inherit-env-vars = true  # If you don't touch "exec" section,
[exec.env-vars]          # it will fallback to "default-config.toml"
PATH = '/opt/homebrew/bin:/opt/homebrew/sbin:${PATH}'

# All possible keys:
# - Letters.        a, b, c, ..., z
# - Numbers.        0, 1, 2, ..., 9
# - Keypad numbers. keypad0, keypad1, keypad2, ..., keypad9
# - F-keys.         f1, f2, ..., f20
# - Special keys.   minus, equal, period, comma, slash, backslash, quote, semicolon, backtick,
#                   leftSquareBracket, rightSquareBracket, space, enter, esc, backspace, tab
# - Keypad special. keypadClear, keypadDecimalMark, keypadDivide, keypadEnter, keypadEqual,
#                   keypadMinus, keypadMultiply, keypadPlus
# - Arrows.         left, down, up, right
# All possible modifiers: cmd, alt, ctrl, shift

[mode.main.binding]
cmd-ctrl-alt-shift-space = 'layout floating tiling'
cmd-ctrl-alt-shift-s = [
  'mode service',
  'exec-and-forget sketchybar --trigger send_message MESSAGE="Service Mode"'
]
cmd-ctrl-alt-shift-r = [
  'mode resize',
  'exec-and-forget sketchybar --trigger send_message MESSAGE="Reisze Mode"'
]
cmd-ctrl-alt-shift-m = [
  'mode move',
  'exec-and-forget sketchybar --trigger send_message MESSAGE="Move Mode"'
]
cmd-ctrl-alt-shift-j = [
  'mode join',
  'exec-and-forget sketchybar --trigger send_message MESSAGE="Join Mode"'
]
cmd-ctrl-alt-shift-f = 'fullscreen'

alt-h = 'focus --boundaries all-monitors-outer-frame --boundaries-action stop left'
alt-j = 'focus --boundaries all-monitors-outer-frame --boundaries-action stop down'
alt-k = 'focus --boundaries all-monitors-outer-frame --boundaries-action stop up'
alt-l = 'focus --boundaries all-monitors-outer-frame --boundaries-action stop right'

alt-1 = 'workspace --auto-back-and-forth 1'
alt-2 = 'workspace --auto-back-and-forth 2'
alt-3 = 'workspace --auto-back-and-forth 3'
alt-4 = 'workspace --auto-back-and-forth 4'
alt-5 = 'workspace --auto-back-and-forth 5'
alt-6 = 'workspace --auto-back-and-forth 6'
alt-7 = 'workspace --auto-back-and-forth 7'
alt-8 = 'workspace --auto-back-and-forth 8'
alt-9 = 'workspace --auto-back-and-forth 9'

# alt-tab = 'workspace-back-and-forth'

[mode.service.binding]
esc = [
  'mode main',
  'exec-and-forget sketchybar --trigger hide_message'
]
r = [
  'reload-config',
  'exec-and-forget sketchybar --trigger hide_message',
  'exec-and-forget sketchybar --reload',
  'exec-and-forget sketchybar_bottom --reload', 
  'mode main'
]

[mode.move.binding]
esc = [
  'mode main',
  'exec-and-forget sketchybar --trigger hide_message'
]
h = 'move left'
j = 'move down'
k = 'move up'
l = 'move right'
1 = [
  'move-node-to-workspace 1',
  'exec-and-forget sketchybar --trigger hide_message',
  'mode main'
]
2 = [
  'move-node-to-workspace 2',
  'exec-and-forget sketchybar --trigger hide_message',
  'mode main'
]
3 = [
  'move-node-to-workspace 3',
  'exec-and-forget sketchybar --trigger hide_message',
  'mode main'
]
4 = [
  'move-node-to-workspace 4',
  'exec-and-forget sketchybar --trigger hide_message',
  'mode main'
]
5 = [
  'move-node-to-workspace 5',
  'exec-and-forget sketchybar --trigger hide_message',
  'mode main'
]
6 = [
  'move-node-to-workspace 6',
  'exec-and-forget sketchybar --trigger hide_message',
  'mode main'
]
7 = [
  'move-node-to-workspace 7',
  'exec-and-forget sketchybar --trigger hide_message',
  'mode main'
]
8 = [
  'move-node-to-workspace 8',
  'exec-and-forget sketchybar --trigger hide_message',
  'mode main'
]
9 = [
  'move-node-to-workspace 9',
  'exec-and-forget sketchybar --trigger hide_message',
  'mode main'
]

cmd-1 = [
  'move-node-to-workspace 1',
  'workspace 1',
  'exec-and-forget sketchybar --trigger hide_message',
  'mode main'
]
cmd-2 = [
  'move-node-to-workspace 2',
  'workspace 2',
  'exec-and-forget sketchybar --trigger hide_message',
  'mode main'
]
cmd-3 = [
  'move-node-to-workspace 3',
  'workspace 3',
  'exec-and-forget sketchybar --trigger hide_message',
  'mode main'
]
cmd-4 = [
  'move-node-to-workspace 4',
  'workspace 4',
  'exec-and-forget sketchybar --trigger hide_message',
  'mode main'
]
cmd-5 = [
  'move-node-to-workspace 5',
  'workspace 5',
  'exec-and-forget sketchybar --trigger hide_message',
  'mode main'
]
cmd-6 = [
  'move-node-to-workspace 6',
  'workspace 6',
  'exec-and-forget sketchybar --trigger hide_message',
  'mode main'
]
cmd-7 = [
  'move-node-to-workspace 7',
  'workspace 7',
  'exec-and-forget sketchybar --trigger hide_message',
  'mode main'
]
cmd-8 = [
  'move-node-to-workspace 8',
  'workspace 8',
  'exec-and-forget sketchybar --trigger hide_message',
  'mode main'
]
cmd-9 = [
  'move-node-to-workspace 9',
  'workspace 9',
  'exec-and-forget sketchybar --trigger hide_message',
  'mode main'
]

[mode.resize.binding]
esc = [
  'mode main',
  'exec-and-forget sketchybar --trigger hide_message'
]
h = ['resize width -64']
j = ['resize height -64']
k = ['resize height +64']
l = ['resize width +64']
r = ['flatten-workspace-tree']

[mode.join.binding]
esc = [
  'mode main',
  'exec-and-forget sketchybar --trigger hide_message'
]
h = 'join-with left'
j = 'join-with down'
k = 'join-with up'
l = 'join-with right'

### ON WINDOW DETECTED
[[on-window-detected]]
if.app-id = 'com.apple.finder'
run = ['layout floating']

[[on-window-detected]]
if.app-id = 'org.mozilla.firefox'              
run = ['move-node-to-workspace 2']  

[[on-window-detected]]
if.app-id = 'app.zen-browser.zen'              
run = ['move-node-to-workspace 2']  

[[on-window-detected]]
if.app-id = 'com.apple.Safari'              
run = ['move-node-to-workspace 2']  

[[on-window-detected]]
if.app-id = 'com.microsoft.edgemac'
run = ['move-node-to-workspace 2']


[[on-window-detected]]
if.app-id = 'com.brave.Browser'
run = ['move-node-to-workspace 2']

[[on-window-detected]]
if.app-id = 'com.mitchellh.ghostty'              
run = ['move-node-to-workspace 3']  

[[on-window-detected]]
if.app-id = 'com.microsoft.VSCode'              
run = ['move-node-to-workspace 4']  

[[on-window-detected]]
if.app-id = 'dev.zed.Zed'              
run = ['move-node-to-workspace 4']  

[[on-window-detected]]
if.app-id = 'com.jetbrains.rider'              
run = ['move-node-to-workspace 4']  

[[on-window-detected]]
if.app-id = 'com.jetbrains.fleet'              
run = ['move-node-to-workspace 4']  

[[on-window-detected]]
if.app-id = 'org.jkiss.dbeaver.core.product'              
run = ['move-node-to-workspace 5']  

[[on-window-detected]]
if.app-id = 'com.spotify.client'              
run = ['move-node-to-workspace 6']  

[[on-window-detected]]
if.app-id = 'com.apple.podcasts'              
run = ['move-node-to-workspace 6']  

[[on-window-detected]]
if.app-id = 'org.videolan.vlc'              
run = ['move-node-to-workspace 6']  

[[on-window-detected]]
if.app-id = 'com.tdesktop.Telegram'
run = ['move-node-to-workspace 5']

[[on-window-detected]]
check-further-callbacks = true
run = ['move-node-to-workspace 1']  

