.DS_Store
zed/conversation
zed/embeddings
zed/prompts
zed/.tmp*

tmux/plugins
tmux/resurrect

nvim/lazy-lock.json

spicetify/Backup
spicetify/Extracted
spicetify/Themes/**/README.md
spicetify/Themes/**/screenshots
